/* html, body{
    height: 100%
} */
html {
    margin: 0;
}

body {
    background-image: linear-gradient(to top right,  #388BD7, #77BEFF);
    height: 100vh;
    /* margin: 4px; */
    margin-top: 40px;
    /* max-height: 100vh; */
    font-family: 'Inter';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.title {
    text-align: center;
    /* background-color: #D7EBFA; */
    margin-top: 4vh;
    /* margin-inline: 60px; */
    margin-bottom: 3vh;
    /* padding: 16px; */
    padding: 3vh;
    font-weight: bold;
    /* height: 5vh; */
}

.box-shadow {
    /* padding: 16px; */
    background-color: #D7EBFA;
    border-radius: 15px;
    box-shadow: inset 2px 2px 4px 0 rgba(0,0,0, 0.25);
    /* size: inherit; */
}

.subtitle {
    font-weight: 600;
    padding-top: 12px;
    margin-bottom: 12px;

    margin-top: 0;
    /* margin-left: 6px; */
}

.boxes-left{
    flex: 0 0;
    padding-right: 40px;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 16px;
    /* width: 312px; */
    /* height: 25% */
}

.boxes {
    padding-inline: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
}

input[type=number] {
    border: none;
    box-shadow: inset 2px 2px 4px 0 rgba(0,0,0, 0.25);
    border-radius: 10px;
    /* width: 250px; */
    /* width: inherit; */
    height: 35px;
    /* margin-bottom: 16px; */
    width: 100%;
    padding-left: 10px; 
}

.rows {
    margin-inline: 60px;
    /* height: 100vh; */
}

.column {
    float: left;
    width: 25%;

    display: flex;
    height: 75vh;
    /* gap: 3vh; */
    /* flex-shrink: 0;
    flex-grow: 1; */
    
    justify-content: space-between;
    flex-direction: column;
}

.column2 {
    float: left;
    width: 20%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 10px; */
}

/* .row2 {
    width: 20%;
} */

.column3 {
    float: left;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 8px; */
}

.column4 {
    float: left;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 10px; */
}

.column5 {
    float: left;
    width: 55%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-bottom: 40px; */
}

.non-first {
    margin-left: 16px;
}
  
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

.row1 {
    height: 65%;
}

.row2 {
    height: 30%;
    display: flex;
    margin-top: 4px
}

button {
    background-color: #2772B6;
    color: #fff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 2px 4px 2px 0 rgba(0,0,0, 0.25);
}

.predicted-box {
    background-color: #2772B6;
    color: #fff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 24px; */
    /* font-weight: 700; */
    border-radius: 10px;
    box-shadow: 2px 4px 2px 0 rgba(0,0,0, 0.25);
    /* width: 50vw; */
    /* height: 18vh; */
    /* height: 100%; */
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    /* position: absolute; */
}

/* radiobutton */
.radiobutton {
    /* margin-top: 4px; */
    margin-bottom: 10px;
}

label {
    font-size: 14px;
    display: inline-block;
}

input[type=radio] {
    margin-top: -1px;
    vertical-align: middle;
}

.subtitle2 {
    text-align: left;
    margin:0;
    font-weight: 600;
    font-size: 20px
}

.price {
    text-align: left;
    margin: 0;
    /* margin-top: 4vh; */
    font-weight: 700;
    font-size: 32px;
}

.desc {
    margin: 0;
    font-size: 12px;
    text-align: left;
}

.column6 {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4px;    
}

.column7 {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4px;  
}